﻿@model AspNetCore.Models.Student

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Student</h4>
<hr />

@if (Model.Picture != null)
{

}
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*
        asp-for annab antud mudeli mingi väärtuse
        antud juhul If väärtuse
            *@
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                @*
            asp-for="FirstName" - anna välja FirstName nimetus
                *@
                <label asp-for="LastName" class="control-label"></label>
                @* *@
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Age" class="control-label"></label>
                <input asp-for="Age" class="form-control" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="form-group">

                @*drop-down menüü true-false, kus default on "not set"*@
                <label asp-for="IsMarried" class="control-label"></label>
                @Html.EditorFor(model => model.IsMarried)
                @*<input asp-for="IsMarried" class="form-control" />*@
                <span asp-validation-for="IsMarried" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsBlind" class="control-label"></label>
                <input asp-for="IsBlind" class="form-control" />
                <span asp-validation-for="IsBlind" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Picture" class="control-label"></label>
                <input type="file" name="Picture" id="Picture" />
                <span asp-validation-for="Picture" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

