﻿@*
    <strongly typed view
    Siia viewsse saan ma ainult panna kaasa @model taga kirjeldatud tüüpi objekti
*@

@model IEnumerable<AspNetCore.Models.Student>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a href="http://www.delfi.ee">DELFI</a>
    <br /> <!-- ilma sisuta tag -->
    @* Tag helpers
        Tee mulle link, mis suunab Create Actionisse
        Kui pole eraldi määratud, siis võetakse sama kontrolleri Action, kus me viibime
        asp-action ütleb actioni
        asp-controller ütleb kontrolleri
    *@
    <a asp-action="Create" asp-controller="Students">Create New</a>
    <br />
    @*@Html.ActionLink("Create New", "Create", "Students") - sama mis eelnev*@
</p>
<table class="table">
    <thead>
        <tr>
            @*DisplayNameFor annab tabeli veergudele pealkirjad*@
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @* HTML helpers
                    DisplayNameFor annab mulle mudeli mingi konkreetse välja ehk klassi property
                    "FirstName"
                *@
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsMarried)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @*Html.DisplayFor annab välja (väli) väärtuse*@
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsMarried)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Picture)
                </td>
                <td>
                    @* asp-route-id ütleb siis, et Edit action pane kaasa parameeter id
                        ehk peale teist kaldkriipsu kolmas parameeter
                        /Students/Edit/4*@
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    @{var id = "link" + item.Id; // link_1 link_2
                    }
                    <a href='' id="'@id" class='linkDeleteStudent'>Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<input type="button" value="Sum loans" id="buttonSum" />
<input type="button" value="" id="buttonSum" />

<div id="result"></div>
@section Scripts
    {
    <script type="text/javascript">


        $(document).ready(function () {
            $('#buttonSum').click(function () {
                $ajax({
                    type: 'GET',
                    url: '@Url.Action("AddStudent")','/Students/SumLoans',
                    success: function (result) {
                        // Tavaline javascript sama asja tegemiseks
                        // document.getElementById.
                        $('#result1').html(result);
                        $('#studentsTableBody').append("<tr><td>3</td><td>Peeter</td><td>Paan</td></tr>")
                    }
                });
            });
            $('#buttonAddStudent').click(function () {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("Create")', // Students/Create
                    data: {
                        firstName: "Peeter",
                        lastName: "Paan",
                        age: 30,
                        isMarried: "true",
                    },
                    success: function (result) {
                        $('#studentsTableBody').append("<tr><td>3</td><td>Peeter</td><td>Paan</td><td>30</td><td></td></tr>");
                    },
                    error: function (xhr, status, error) {
                        $('#result').html(xhr.responseText);
                    }

                });
            });
        });
    </script>
}
